{% extends 'base.html.twig' %}

{% block title %}Nouvelle Réservation{% endblock %}

    {% block stylesheets %}


        <style>
.form-control {
    background-color: #B19BB2;
    border: 1px solid;
    border-radius: 0px;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    transition: all 0.3s ease;
    box-shadow: none;
    outline: none;
    color: #fff;
}

.form-control:focus {
    background-color: #A288A6;
    border-color: #fff;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.2);
    transform: scale(1.02);
}
.btn-primary {
 width: 100%;
    background-color: #CBA979;
    border: none;
    color: #fff;
    padding: 0.5rem 1.2rem;
    font-size: 19px;
    font-weight: 500;
    border-radius: 0;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-primary:hover {
    background-color: #98A695;
    transform: scale(1.05);
    color: #fff;
}


</style>
    {% endblock %}


{% block body %}
    {% form_theme form 'bootstrap_5_layout.html.twig' %}

    <div class="container mt-5">
        <h1 class="mb-4">Créer une nouvelle réservation</h1>

        {{ include('reservation/_form.html.twig', {'button_label': 'Réserver'}) }}

        <a href="{{ path('app_reservation_index') }}" class="btn btn-primary mt-3">Anuuler</a>
    </div>
{% endblock %}
