{% extends 'base.html.twig' %}

{% block title %}Redirection{% endblock %}

{% block body %}
<script>
    window.location.href = "{{ path('app_login') }}";
</script>
<div class="min-h-screen flex items-center justify-center bg-gradient-to-r from-purple-500 to-pink-500 py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-md w-full space-y-8 bg-white p-8 rounded-lg shadow-lg">
        <p class="text-center">Redirection en cours...</p>
    </div>
</div>
{% endblock %} 